<h1> Welcome to game </h1>
<p>have time that is good!!!</p>
<h2>rules:</h2>

<p>You can choose <i>rock</i>, <i>paper</i>, or <i>scissors</i>. <br /> Type this in the address bar above in the following format:</p>

<p>localhost:4567/game/<b>choice1</b>/<b>choice2</b></p>

<p>Good luck!</p>

<h6>You'll need it I'm super good at this game.</h6>
